<div class="content">
  <h1 class="header">Edit Contact</h1>
  <form>
    <section>
      <nav>Name/Info</nav>
      <div>
        <input placeholder="First Name" />
        <input placeholder="Last Name" />
        <input placeholder="Date of Birth" />
        <input placeholder="Favorites Ranking" />
      </div>
    </section>
    <section>
      <nav>Phone</nav>
      <div class="flex-column">
        <div class="flex-group">
          <input placeholder="Phone" />
          <img src="/assets/plus-grey-blue.png" class="add" />
        </div>
        <div class="radio">
          <input type="radio" value="" />
          <input type="radio" value="" />
          <input type="radio" value="" />
        </div>
      </div>
    </section>
  </form>
</div>
